[submodule "sd-vbs"]
	path = sd-vbs
	url = https://github.com/amin-mamandi/sd-vbs.git
	branch = main

[submodule "matmult"]
	path = matmult
	url = https://github.com/CSL-KU/matmult.git
	branch = main

[submodule "IsolBench"]
	path = IsolBench
	url = https://github.com/CSL-KU/IsolBench.git
	branch = master

[submodule "drama-pp"]
	path = drama-pp
	url = https://github.com/CSL-KU/drama-pp.git
	branch = master
